body {
    margin: 0%;
    padding: 0%;
    background-color: #DFEDFC;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin: 50px 15px;
}
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, #30373f 50%, #445262 75%);
    width: 100%;
        #logo {
        width: 15%;
        img {
            width: 100%;
        }
    }
    #encabezado {
        h1 {
            font-family: 'Bebas Neue', cursive;
            color: #ffffff;
            font-size: 70px;
        }
    }
}
#productos__header {
    display: inline-block;
    h2 {
        font-size: 40px;
        margin: 50px;
        font-family: 'Bebas Neue', cursive;

    }
}
#carrito-de-compras {
    position: sticky;
    top: 100px;
    .div-carrito {
        display: inline-block;
        width: 25%;
        position: absolute;
        right: 25px;
        top: -80px;
        :hover {
            cursor: pointer;
        }
        img {
            width: 25%;
        }
        #canasta {
            display: none;
            .producto-canasta {
                img {
                    width: 50%;
                }
                .descripcion-producto {
                    p {
                        font-family: 'Edu SA Beginner', cursive;
                        font-size: 20px;
                        color: #30373f; 
                    }
                }
            }
        }
        #total-carrito {
            display: none;
            font-family: 'Bebas Neue', cursive;
            font-size: 25px;
            :hover {
                cursor: default;
            }
        }
        #botones {
            display: flex;
            justify-content: space-between;
            margin: 25px 0;
            #boton-compra {
                display: none;
                width: 50%;
                button {
                    padding: 5px;
                    background-color: #445262;
                    font-family: 'Bebas Neue', cursive;
                    color: #ffffff;
                    font-size: 15px;
                    border: #30373f double 3px;
                }
            }
            #boton-ocultar {
                display: none;
                width: 50%;
                button {
                    padding: 5px;
                    background-color: #445262;
                    font-family: 'Bebas Neue', cursive;
                    font-size: 15px;
                    color: #ffffff;
                    border: #30373f double 3px;
                }
            }
        }
    }
}
#listado-productos {
    div {
        margin-left: 10px;
        .producto {
            display: block;
            width: 66%;
            :hover {
                cursor: pointer;
            }
            div {
                border: #30373f groove 5px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 30px auto;
                background-color: #30373f;
                .imagen-producto {
                    border: none;
                    display: block;
                    margin: 10px 0;
                    width: 17%;
                    img {
                        width: 100%;
                    }
                }
                .contenido-producto {
                    border: none;
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0;
                    p {
                        font-family: 'Edu SA Beginner', cursive;
                        font-size: 20px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    h3 {
        font-size: 22px;
        margin: 35px 15px;
    }
    #header {
        #logo {
            width: 20%;
        }
        #encabezado {
            h1 {
                font-size: 50px;
            }
        }
    }
    #productos__header {
        h2 {
            font-size: 30px;
            margin: 40px;    
        }
    }
    #carrito-de-compras {
        .div-carrito {
            img {
                width: 33%;
            }
            #canasta {
                .producto-canasta {
                    img {
                        width: 50%;
                    }
                    .descripcion-producto {
                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
            #total-carrito {
                font-size: 22px;
            }
            #botones {
                margin: 22px 0;
                #boton-compra {
                    button {
                        padding: 3px;
                        font-size: 14px;
                    }
                }
                #boton-ocultar {
                    button {
                        padding: 3px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    #listado-productos {
        div {
            .producto {
                div {
                    .imagen-producto {
                        width: 25%;
                    }
                    .contenido-producto {
                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    h3 {
        margin: 30px 15px;
    }
    #header {
        #logo {
            width: 30%;
        }
        #encabezado {
            width: 50%;
            text-align: center;
            h1 {
                font-size: 40px;
            }
        }
    }
    #productos__header {
        h2 {
            margin: 30px;    
        }
    }
    #carrito-de-compras {
        .div-carrito {
            right: -60px;
            img {
                width: 45%;
            }
            #canasta {
                .producto-canasta {
                    img {
                        width: 66%;
                    }
                    .descripcion-producto {
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
            #total-carrito {
                font-size: 20px;
            }
            #botones {
                margin: 19px 0;
                width: 100%;
                #boton-compra {
                    width: 50%;
                    button {
                        padding: 0;
                        font-size: 13px;
                    }
                }
                #boton-ocultar {
                    width: 50%;
                    button {
                        padding: 0;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    #listado-productos {
        div {
            .producto {
                width: 80%;
                div {
                    .imagen-producto {
                        width: 25%;
                    }
                    .contenido-producto {
                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}