body {
  margin: 0%;
  padding: 0%;
  background-color: #DFEDFC;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  margin: 50px 15px;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #30373f 50%, #445262 75%);
  width: 100%;
}
#header #logo {
  width: 15%;
}
#header #logo img {
  width: 100%;
}
#header #encabezado h1 {
  font-family: "Bebas Neue", cursive;
  color: #ffffff;
  font-size: 70px;
}

#productos__header {
  display: inline-block;
}
#productos__header h2 {
  font-size: 40px;
  margin: 50px;
  font-family: "Bebas Neue", cursive;
}

#carrito-de-compras {
  position: sticky;
  top: 100px;
}
#carrito-de-compras .div-carrito {
  display: inline-block;
  width: 25%;
  position: absolute;
  right: 25px;
  top: -80px;
}
#carrito-de-compras .div-carrito :hover {
  cursor: pointer;
}
#carrito-de-compras .div-carrito img {
  width: 25%;
}
#carrito-de-compras .div-carrito #canasta {
  display: none;
}
#carrito-de-compras .div-carrito #canasta .producto-canasta img {
  width: 50%;
}
#carrito-de-compras .div-carrito #canasta .producto-canasta .descripcion-producto p {
  font-family: "Edu SA Beginner", cursive;
  font-size: 20px;
  color: #30373f;
}
#carrito-de-compras .div-carrito #total-carrito {
  display: none;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}
#carrito-de-compras .div-carrito #total-carrito :hover {
  cursor: default;
}
#carrito-de-compras .div-carrito #botones {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
#carrito-de-compras .div-carrito #botones #boton-compra {
  display: none;
  width: 50%;
}
#carrito-de-compras .div-carrito #botones #boton-compra button {
  padding: 5px;
  background-color: #445262;
  font-family: "Bebas Neue", cursive;
  color: #ffffff;
  font-size: 15px;
  border: #30373f double 3px;
}
#carrito-de-compras .div-carrito #botones #boton-ocultar {
  display: none;
  width: 50%;
}
#carrito-de-compras .div-carrito #botones #boton-ocultar button {
  padding: 5px;
  background-color: #445262;
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  color: #ffffff;
  border: #30373f double 3px;
}

#listado-productos div {
  margin-left: 10px;
}
#listado-productos div .producto {
  display: block;
  width: 66%;
}
#listado-productos div .producto :hover {
  cursor: pointer;
}
#listado-productos div .producto div {
  border: #30373f groove 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
  background-color: #30373f;
}
#listado-productos div .producto div .imagen-producto {
  border: none;
  display: block;
  margin: 10px 0;
  width: 17%;
}
#listado-productos div .producto div .imagen-producto img {
  width: 100%;
}
#listado-productos div .producto div .contenido-producto {
  border: none;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0;
}
#listado-productos div .producto div .contenido-producto p {
  font-family: "Edu SA Beginner", cursive;
  font-size: 20px;
  color: #ffffff;
}

@media (min-width: 769px) and (max-width: 1024px) {
  h3 {
    font-size: 22px;
    margin: 35px 15px;
  }
  #header #logo {
    width: 20%;
  }
  #header #encabezado h1 {
    font-size: 50px;
  }
  #productos__header h2 {
    font-size: 30px;
    margin: 40px;
  }
  #carrito-de-compras .div-carrito img {
    width: 33%;
  }
  #carrito-de-compras .div-carrito #canasta .producto-canasta img {
    width: 50%;
  }
  #carrito-de-compras .div-carrito #canasta .producto-canasta .descripcion-producto p {
    font-size: 17px;
  }
  #carrito-de-compras .div-carrito #total-carrito {
    font-size: 22px;
  }
  #carrito-de-compras .div-carrito #botones {
    margin: 22px 0;
  }
  #carrito-de-compras .div-carrito #botones #boton-compra button {
    padding: 3px;
    font-size: 14px;
  }
  #carrito-de-compras .div-carrito #botones #boton-ocultar button {
    padding: 3px;
    font-size: 14px;
  }
  #listado-productos div .producto div .imagen-producto {
    width: 25%;
  }
  #listado-productos div .producto div .contenido-producto p {
    font-size: 17px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  h3 {
    margin: 30px 15px;
  }
  #header #logo {
    width: 30%;
  }
  #header #encabezado {
    width: 50%;
    text-align: center;
  }
  #header #encabezado h1 {
    font-size: 40px;
  }
  #productos__header h2 {
    margin: 30px;
  }
  #carrito-de-compras .div-carrito {
    right: -60px;
  }
  #carrito-de-compras .div-carrito img {
    width: 45%;
  }
  #carrito-de-compras .div-carrito #canasta .producto-canasta img {
    width: 66%;
  }
  #carrito-de-compras .div-carrito #canasta .producto-canasta .descripcion-producto p {
    font-size: 15px;
  }
  #carrito-de-compras .div-carrito #total-carrito {
    font-size: 20px;
  }
  #carrito-de-compras .div-carrito #botones {
    margin: 19px 0;
    width: 100%;
  }
  #carrito-de-compras .div-carrito #botones #boton-compra {
    width: 50%;
  }
  #carrito-de-compras .div-carrito #botones #boton-compra button {
    padding: 0;
    font-size: 13px;
  }
  #carrito-de-compras .div-carrito #botones #boton-ocultar {
    width: 50%;
  }
  #carrito-de-compras .div-carrito #botones #boton-ocultar button {
    padding: 0;
    font-size: 13px;
  }
  #listado-productos div .producto {
    width: 80%;
  }
  #listado-productos div .producto div .imagen-producto {
    width: 25%;
  }
  #listado-productos div .producto div .contenido-producto p {
    font-size: 17px;
  }
}/*# sourceMappingURL=main.css.map */